@import "tailwindcss";

@font-face {
    font-family: "Margarine";
    src: url('/src/fonts/Margarine-Regular.woff2') format('woff2'),
         url('/src/fonts/Margarine-Regular.woff') format('woff'),
         url('/src/fonts/Margarine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Black.woff2') format('woff2'),
         url('/src/fonts/Onest-Black.woff') format('woff'),
         url('/src/fonts/Onest-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-ExtraBold.woff2') format('woff2'),
         url('/src/fonts/Onest-ExtraBold.woff') format('woff'),
         url('/src/fonts/Onest-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Bold.woff2') format('woff2'),
         url('/src/fonts/Onest-Bold.woff') format('woff'),
         url('/src/fonts/Onest-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Medium.woff2') format('woff2'),
         url('/src/fonts/Onest-Medium.woff') format('woff'),
         url('/src/fonts/Onest-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Regular.woff2') format('woff2'),
         url('/src/fonts/Onest-Regular.woff') format('woff'),
         url('/src/fonts/Onest-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Light.woff2') format('woff2'),
         url('/src/fonts/Onest-Light.woff') format('woff'),
         url('/src/fonts/Onest-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Thin.woff2') format('woff2'),
         url('/src/fonts/Onest-Thin.woff') format('woff'),
         url('/src/fonts/Onest-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/src/fonts/Onest-Bold.woff2') format('woff2'),
         url('/src/fonts/Onest-Bold.woff') format('woff'),
         url('/src/fonts/Onest-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@theme {
    --font-sans: "Onest", sans-serif;
    --font-display: "Margarine", sans-serif;
}

/* Custom styles */